.tag {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.06px;
  color: var(--grey-500);
  background-color: var(--grey-200);
  border-radius: 30px;
  padding: 0 10px;
  transition: opacity 0.2s ease-in-out;
  
  &.clickable {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}